@import "./variables.scss";

//----- Responsive-----//
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 768px) {
    @content;
  }
}

//----- Login And Register -----//
* {
  box-sizing: border-box;
  font-family: "Roboto" sans-serif;
}

.row-container:after {
  content: "";
  display: table;
  clear: both;
}

.form-container {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    width: 100%;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .form-mobileLogin {
      display: grid;

      .mobile-input {
        background-color: #fffffc;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #272727;
        color: #272727;
        &:hover {
          background-color: #9d4edd;
          color: #fffffc;
          cursor: pointer;
        }
      }
    }

    .form-mobile {
      display: grid;

      input {
        width: 100%;
      }

      .mobile-input {
        background-color: #fffffc;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #272727;
        color: #272727;
        &:hover {
          background-color: #9d4edd;
          color: #fffffc;
          cursor: pointer;
        }
      }
    }

    .btn-mobile {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: -20px;
      gap: 6px;
      background-color: #fffffc;
      border: 1px solid #272727;
      color: #272727;
      &:hover {
        background-color: #9d4edd;
        color: #fffffc;
      }

      svg {
        text-decoration: none;
      }
    }

    h4 {
      overflow: hidden;
      text-align: center;
      margin-top: -20px;
      font-weight: 500;
      font-size: 13px;
    }

    h4:before,
    h4:after {
      background-color: #272727;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }

    h4:before {
      right: 0.5em;
      margin-left: -50%;
    }

    h4:after {
      left: 0.5em;
      margin-right: -50%;
    }

    .logo-responsive {
      visibility: hidden;
      @include tablet {
        visibility: visible;
        color: #72369d;
      }
    }

    .title {
      color: #272727;
      font-weight: 500;
      font-size: 24px;
      padding-bottom: 25px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px 0;
        width: 300px;
        border: none;
        border-bottom: 1px solid #495057;
        outline: none;
        &::placeholder {
          color: #6c757d;
          font-size: 13px;
        }
      }

      button {
        background-color: #9d4edd;
        color: #fffffc;
        padding: 10px;
        font-weight: 500;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #6c757d;
        font-size: 13px;
        cursor: pointer;

        img {
          width: 35px;
        }
      }
    }

    p {
      color: #6c757d;
      font-size: 13px;
      font-weight: 300;
      margin-top: 10px;
    }
  }
}

.img-bg {
  background-image: linear-gradient(
      45deg,
      rgba(72, 149, 239, 0.75),
      rgba(157, 78, 221, 0.75),
      rgba(157, 78, 221, 0.75)
    ),
    url(../img/formimg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffffc;
  @include tablet {
    display: none;
  }
}

.img-bg h2 {
  font-size: 28px;
}

hr {
  width: 40%;
  margin: 0 auto;
}

.register-form {
  background-color: #fffffc;
}

//----- End of Login And Register -----//

//----- Chat Screen -----//

.home-container {
  background-color: #e0aaff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    height: 100%;
    display: flex;

    // Active status
    .user {
      display: inline-block;
      position: relative;

      img {
        background-color: #fffffc;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .user-status {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        position: absolute;
        right: 3px;
        bottom: 3px;
        border: 1px solid black;
      }

      .online {
        background-color: $success-color;
      }

      .offline {
        background-color: $danger-color;
      }
    }
  }
}
