@import "./variables.scss";

//----- Responsive-----//
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 768px) {
    @content;
  }
}

//----- Login And Register -----//
* {
  box-sizing: border-box;
  font-family: "Roboto" sans-serif;
}

.row-container:after {
  content: "";
  display: table;
  clear: both;
}

.form-container {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    width: 100%;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .form-mobileLogin {
      display: grid;

      .mobile-input {
        background-color: #fffffc;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #272727;
        color: #272727;
        &:hover {
          background-color: #9d4edd;
          color: #fffffc;
          cursor: pointer;
        }
      }
    }

    .form-mobile {
      display: grid;

      input {
        width: 100%;
      }

      .mobile-input {
        background-color: #fffffc;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #272727;
        color: #272727;
        &:hover {
          background-color: #9d4edd;
          color: #fffffc;
          cursor: pointer;
        }
      }
    }

    .btn-mobile {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: -20px;
      gap: 6px;
      background-color: #fffffc;
      border: 1px solid #272727;
      color: #272727;
      &:hover {
        background-color: #9d4edd;
        color: #fffffc;
      }

      svg {
        text-decoration: none;
      }

    }

    h4 {
      overflow: hidden;
      text-align: center;
      margin-top: -20px;
      font-weight: 500;
      font-size: 13px;
    }
    
    h4:before,
    h4:after {
      background-color: #272727;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    
    h4:before {
      right: 0.5em;
      margin-left: -50%;
    }
    
    h4:after {
      left: 0.5em;
      margin-right: -50%;
    }

    .logo-responsive {
      visibility: hidden;
      @include tablet {
        visibility: visible;
        color: #72369d;
      }
    }

    .title {
      color: #272727;
      font-weight: 500;
      font-size: 24px;
      padding-bottom: 25px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px 0;
        width: 300px;
        border: none;
        border-bottom: 1px solid #495057;
        outline: none;
        &::placeholder {
          color: #6c757d;
          font-size: 13px;
        }
      }

      button {
        background-color: #9d4edd;
        color: #fffffc;
        padding: 10px;
        font-weight: 500;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #6c757d;
        font-size: 13px;
        cursor: pointer;

        img {
          width: 35px;
        }
      }
    }

    p {
      color: #6c757d;
      font-size: 13px;
      font-weight: 300;
      margin-top: 10px;
    }
  }
}

.img-bg {
  background-image: linear-gradient(
      45deg,
      rgba(72, 149, 239, 0.75),
      rgba(157, 78, 221, 0.75),
      rgba(157, 78, 221, 0.75)
    ),
    url(../img/formimg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffffc;
  @include tablet {
    display: none;
  }
}

.img-bg h2 {
  font-size: 28px;
}

hr {
  width: 40%;
  margin: 0 auto;
}

.register-form {
  background-color: #fffffc;
}

//----- End of Login And Register -----//

//----- Chat Screen -----//

.home-container {
  background-color: #e0aaff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    height: 100%;
    display: flex;

    .sidebar {
      flex: 1;
      background-color: #72369d;
      overflow: hidden;
      position: relative;

      .navbar {
        display: flex;
        align-items: center;
        background-color: #461e5c;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: #fffffc;

        .logo {
          font-weight: 500;
          @include tablet {
            display: none;
          }
        }

        .user {
          display: flex;
          gap: 10px;

          img {
            background-color: #fffffc;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            background-color: #9d4edd;
            color: #fffffc;
            font-size: 10px;
            border: none;
            cursor: pointer;
            @include tablet {
              position: absolute;
              right: 10px;
              padding: 5px;
            }
            @include mobile {
              position: absolute;
              bottom: 10px;
              padding: 5px;
              width: 100%;
              right: 0;
            }
          }
        }
      }
      .search {
        border-bottom: 1px solid #6c757d;

        .search-container {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: #fffffc;
            outline: none;
            &::placeholder {
              color: #c77dff;
            }
          }
        }
      }

      .user-chat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fffffc;
        cursor: pointer;
        &:hover {
          background-color: #461e5c;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .user-info {
          span {
            font-size: 18px;
            font-weight: 500;
          }
          p {
            font-size: 14px;
            color: #c77dff;
          }
        }
      }
    }

    .chat {
      flex: 2;

      .chat-info {
        height: 50px;
        background-color: #9d4edd;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: #fffffc;
      }

      .chat-icons {
        display: flex;

        img {
          height: 24px;
          cursor: pointer;
        }
      }

      .input {
        height: 60px;
        background-color: #fffffc;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
          border: none;
          outline: none;
          color: #272727;
          font-size: 16px;

          &::placeholder {
            color: #e6bbff;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 24px;
            cursor: pointer;
          }

          button {
            border: none;
            padding: 10px 15px;
            color: #fffffc;
            background-color: #9d4edd;
            cursor: pointer;
          }
        }
      }
    }
  }
}
