@import "./../../sass/variables.scss";

.create-group-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .back-icon {
    position: fixed;
    color: $background-darker-color;
    top: 15px;
    left: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 100;

    &:hover {
      color: $background-primary-color;
    }
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    .title {
      display: block;
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
    }

    button {
      background-color: #9d4edd;
      color: #fffffc;
      padding: 10px;
      font-weight: 500;
      border: none;
      cursor: pointer;
    }

    input {
      padding: 15px 0;
      width: 300px;
      border: none;
      border-bottom: 1px solid #495057;
      outline: none;

      &::placeholder {
        color: #6c757d;
        font-size: 13px;
      }
    }

    select {
      padding: 15px 0;
      width: 300px;
      border: none;
      border-bottom: 1px solid #495057;
      outline: none;

      &::placeholder {
        color: #6c757d;
        font-size: 13px;
      }
    }

    .text-input {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #6c757d;
      font-size: 13px;
      cursor: pointer;
      margin-bottom: -10px;
    }

    .avatar {
      display: block;
      align-items: center;
      text-align: center;
      gap: 10px;
      color: #6c757d;
      font-size: 13px;
      cursor: pointer;

      span {
        justify-content: center;
        align-items: center;
        text-align: center;
        border-style: none;
        margin-left: -30px;
        background: none;
        font-size: 24px;
        padding: 5px 10px;
        color: #9d4edd;
        cursor: pointer;

        svg {
          justify-content: center;
        }
      }

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .save-message {
      display: flex;
      font-size: 16px;
      color: #41a700;
      justify-content: center;
      align-items: center;
    }
  }
}
