@import "./../../sass/variables.scss";

.message {
  gap: 10px;
  margin-bottom: 20px;

  .message-date {
    text-align: center;
    font-size: 0.7rem;
    margin: 10px auto;
  }

  .message-bar {
    display: flex;
    flex-direction: row;

    .message-info {
      color: gray;
      font-weight: 300;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .message-content {
      display: flex;
      flex-direction: column;
      background-color: $background-secondary-color;
      padding: 10px 10px 5px;
      border-radius: 0px 10px 10px 10px;
      max-width: 40%;
      font-size: 0.8rem;
      margin: 0 10px;

      p {
        margin: 0 0 3px;
      }

      .message-time-posted {
        font-size: 0.6rem;
        text-align: right;
        margin-right: -5px;
      }

      img {
        width: 100%;
      }
    }

    &.current-user {
      flex-direction: row-reverse;

      .message-content {
        align-items: flex-end;
        background-color: $background-primary-color;
        color: $background-secondary-color;
        border-radius: 10px 0px 10px 10px;
      }
    }
  }
}
